.u-section-1 .u-sheet-1 {
  min-height: 777px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1346px;
  margin: 19px -103px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 739px;
}

.u-section-1 .u-container-layout-1 {
  padding: 23px 28px 30px;
}

.u-section-1 .u-shape-1 {
  width: 177px;
  height: 177px;
  margin: 0 auto;
}

.u-section-1 .u-image-1 {
  width: 134px;
  height: 134px;
  margin: -155px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: Inter;
  margin: 39px auto 0;
}

.u-section-1 .u-group-1 {
  min-height: 257px;
  height: auto;
  width: 236px;
  box-shadow: 4px 14px 20px 0 rgba(0,0,0,0.4);
  margin: 90px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1.125rem;
  font-family: Inter;
  font-weight: 600;
  margin: 18px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-size: 1.125rem;
  font-family: Inter;
  font-weight: 600;
  margin: 7px auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  font-size: 1.125rem;
  font-family: Inter;
  font-weight: 600;
  margin: 7px auto 0 0;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  font-family: Inter;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  font-family: Inter;
  font-weight: 700;
  margin: 9px 0 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  font-family: Inter;
  font-weight: 700;
  margin: 7px 0 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-1 .u-shape-2 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  margin: 17px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 739px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-group-2 {
  min-height: 308px;
  height: auto;
  width: 744px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px auto 0 31px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 30px 30px;
}

.u-section-1 .u-group-3 {
  width: 64px;
  min-height: 36px;
  margin: 26px auto 0 219px;
}

.u-section-1 .u-container-layout-5 {
  padding: 6px 0;
}

.u-section-1 .u-text-5 {
  font-family: Inter;
  font-size: 1rem;
  font-weight: 700;
  margin: 3px auto 0 0;
}

.u-section-1 .u-shape-3 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  margin: 34px 0 0;
}

.u-section-1 .u-image-2 {
  height: 189px;
  margin: -38px 0 0;
}

.u-section-1 .u-text-6 {
  font-family: Inter;
  font-weight: 700;
  margin: -218px auto 0 0;
}

.u-section-1 .u-text-7 {
  font-family: Inter;
  font-weight: 700;
  margin: 194px auto 0 48px;
}

.u-section-1 .u-text-8 {
  font-family: Inter;
  font-weight: 700;
  margin: -20px 270px 0 auto;
}

.u-section-1 .u-text-9 {
  font-family: Inter;
  font-weight: 700;
  margin: -21px auto 0 162px;
}

.u-section-1 .u-text-10 {
  font-family: Inter;
  font-weight: 700;
  margin: -22px 156px 0 auto;
}

.u-section-1 .u-text-11 {
  font-family: Inter;
  font-weight: 700;
  margin: -21px auto 0 276px;
}

.u-section-1 .u-text-12 {
  font-family: Inter;
  font-weight: 700;
  margin: -21px 42px 0 auto;
}

.u-section-1 .u-group-4 {
  min-height: 308px;
  height: auto;
  width: 240px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -311px 16px 0 auto;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 28px 25px;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  font-family: Inter;
  margin: 24px 0 0;
}

.u-section-1 .u-shape-4 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  margin: 94px 2px 0;
}

.u-section-1 .u-image-3 {
  width: 148px;
  height: 148px;
  margin: -86px auto 0 15px;
}

.u-section-1 .u-group-5 {
  width: 125px;
  min-height: 37px;
  margin: 7px auto 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 0 19px;
}

.u-section-1 .u-text-14 {
  font-family: Inter;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 3px auto 0 0;
}

.u-section-1 .u-group-6 {
  min-height: 354px;
  height: auto;
  width: 240px;
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 23px auto 0 34px;
}

.u-section-1 .u-container-layout-8 {
  padding: 18px 0;
}

.u-section-1 .u-text-15 {
  font-family: Inter;
  font-weight: 700;
  font-size: 1.375rem;
  margin: 0 24px;
}

.u-section-1 .u-shape-5 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  margin: 87px 30px 0;
}

.u-section-1 .u-image-4 {
  width: 206px;
  height: 241px;
  margin: -69px auto 0;
}

.u-section-1 .u-group-7 {
  min-height: 354px;
  height: auto;
  width: 740px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -354px 16px 0 auto;
}

.u-section-1 .u-container-layout-9 {
  padding: 0 20px;
}

.u-section-1 .u-image-5 {
  width: 297px;
  height: 297px;
  margin: 34px auto 0 24px;
}

.u-section-1 .u-text-16 {
  font-family: Inter;
  font-weight: 700;
  margin: -286px 0 0 auto;
}

.u-section-1 .u-group-8 {
  width: 323px;
  min-height: 65px;
  height: auto;
  margin: 27px 0 0 auto;
}

.u-section-1 .u-container-layout-10 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-17 {
  font-family: Inter;
  font-size: 1.25rem;
  margin: 16px auto 0 17px;
}

.u-section-1 .u-text-18 {
  font-family: Inter;
  font-weight: 700;
  font-size: 1.125rem;
  margin: -29px 31px 1px auto;
}

.u-section-1 .u-group-9 {
  min-height: 61px;
  height: auto;
  width: 323px;
  margin: 18px 1px 0 auto;
}

.u-section-1 .u-container-layout-11 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-19 {
  font-family: Inter;
  font-size: 1.25rem;
  margin: 15px 190px 0 48px;
}

.u-section-1 .u-text-20 {
  font-family: Inter;
  font-weight: 700;
  font-size: 1.125rem;
  margin: -30px 31px 0 auto;
}

.u-section-1 .u-group-10 {
  min-height: 65px;
  height: auto;
  width: 323px;
  margin: 18px 3px 0 auto;
}

.u-section-1 .u-container-layout-12 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-21 {
  font-family: Inter;
  font-size: 1.25rem;
  margin: 17px auto 0 34px;
}

.u-section-1 .u-text-22 {
  font-family: Inter;
  font-weight: 700;
  font-size: 1.125rem;
  margin: -30px 1px 0 auto;
}

.u-section-1 .u-shape-6 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  margin: 10px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 554px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 516px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 21px;
    padding-right: 21px;
  }

  .u-section-1 .u-shape-1 {
    width: 148px;
    height: 148px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -96px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -12px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 13px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-right: initial;
    margin-left: initial;
    height: auto;
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 10px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 10px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 10px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-text-2 {
    margin-right: 5px;
    margin-left: 15px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 5px;
    margin-left: 15px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 5px;
    margin-left: 15px;
  }

  .u-section-1 .u-shape-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 516px;
  }

  .u-section-1 .u-group-2 {
    width: 736px;
    margin-left: 0;
    height: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-1 .u-group-3 {
    margin-left: 221px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 0;
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: 80px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    height: 169px;
    width: 617px;
    margin-top: -74px;
    margin-left: auto;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: -209px;
    margin-left: 2px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 195px;
    margin-left: 56px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: -22px;
    margin-right: 239px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-left: 170px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: -21px;
    margin-right: 152px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-left: 257px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-right: 38px;
  }

  .u-section-1 .u-group-4 {
    margin-top: 67px;
    height: auto;
  }

  .u-section-1 .u-shape-4 {
    margin-top: 83px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-6 {
    margin-top: -682px;
    margin-left: 0;
    height: auto;
  }

  .u-section-1 .u-shape-5 {
    margin-top: 83px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-7 {
    width: 736px;
    margin-top: 373px;
    margin-right: auto;
    margin-left: 0;
    height: auto;
  }

  .u-section-1 .u-group-8 {
    height: auto;
  }

  .u-section-1 .u-container-layout-10 {
    padding-top: 17px;
    padding-bottom: 16px;
  }

  .u-section-1 .u-group-9 {
    height: auto;
  }

  .u-section-1 .u-container-layout-11 {
    padding-top: 17px;
    padding-bottom: 16px;
  }

  .u-section-1 .u-group-10 {
    height: auto;
  }

  .u-section-1 .u-container-layout-12 {
    padding-top: 17px;
    padding-bottom: 16px;
  }

  .u-section-1 .u-shape-6 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 138px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-shape-1 {
    width: 115px;
    height: 100px;
  }

  .u-section-1 .u-image-1 {
    width: 100px;
    height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 17px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-group-2 {
    width: 564px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 155px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: 138px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    height: 123px;
    width: 449px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -60px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 229px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 173px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 123px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 110px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 186px;
  }

  .u-section-1 .u-group-4 {
    margin-top: 114px;
  }

  .u-section-1 .u-shape-4 {
    margin-top: 141px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-6 {
    margin-top: -775px;
  }

  .u-section-1 .u-shape-5 {
    margin-top: 141px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-7 {
    width: 564px;
    margin-top: 419px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 238px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -162px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-top: 84px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: 80px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-6 {
    margin-top: -57px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 226px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 187px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 201px;
  }

  .u-section-1 .u-group-4 {
    margin-top: 67px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-shape-4 {
    margin-top: 83px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-14 {
    font-size: 1rem;
  }

  .u-section-1 .u-group-6 {
    margin-top: -682px;
  }

  .u-section-1 .u-shape-5 {
    margin-top: 83px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-7 {
    width: 540px;
    margin-top: 373px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-17 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-18 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-19 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-20 {
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-21 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-22 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 96px;
  }

  .u-section-1 .u-image-2 {
    height: 82px;
    width: 300px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 10px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 159px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 116px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 76px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 68px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 125px;
  }

  .u-section-1 .u-group-7 {
    width: 340px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 23px;
  }

  .u-section-1 .u-group-8 {
    width: 320px;
  }

  .u-section-1 .u-group-9 {
    width: 320px;
    margin-right: 0;
  }

  .u-section-1 .u-text-19 {
    margin-right: 189px;
    margin-left: 47px;
  }

  .u-section-1 .u-group-10 {
    width: 320px;
    margin-right: 0;
  }
}